@font-face {
    font-family: 'Championship'; /*a name to be used later*/
    src: url('../fonts/&Championship.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Mousquetaires'; /*a name to be used later*/
    src: url('../fonts/Les Mousquetaires.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Monotype'; /*a name to be used later*/
    src: url('../fonts/mtcorsva.ttf'); /*URL to font*/
}

:root {
    --color-gold: #d4b63c;
	--color-gold-gradient-a: #e5d271;
	--color-gold-gradient-b: #8b5706;
}


ol, ul {
    list-style: none outside none;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

body {
    /*background: url("../images/bestiary/bg.png");*/
    font-family: "Arial";
    background: black;
}

.label {
    font-family: "Monotype";
    font-weight: bold;
	background: -webkit-linear-gradient(var(--color-gold-gradient-a), var(--color-gold-gradient-b));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text12 {
    font-size: 12pt;
}

.text13 {
    font-size: 13pt;
}

.text16 {
    font-size: 16pt;
}

.text20 {
    font-size: 20pt;
}

.clearfix {
    clear: both;
}

/**
Structures
 */
#main-container {
    margin: 6.5% auto;
    width: 640px;
    height: 470px;
    /*background: url("../images/bestiary/bg.png");*/
    background: url("../images/bestiary/004.bmp");
    padding: 3px;
    vertical-align: top;
}

#main-box {
    border: 2px solid var(--color-gold);
    color: white;
    /*position: relative;*/
    vertical-align: top;
    /*width: 100%;*/
    /*height: 100%;*/
    height: 99%;
}

.label {
    color: var(--color-gold);
}
.value {
    font-weight: bold;
}

.main-group {
    /*width: 49.6%;*/
    height: 90%;
    text-align: left;
    /*border: 1px solid #0F0;*/
    z-index: 10;
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.group {
    width: 100%;
    position: relative;
    margin: 0px;
    /*border: 1px solid orange;*/
    display: inline-flex;
}

/**
 * Infobox
 */
#details-box {
    width: 50%;
}

#details-box .box {
    position: absolute;
    /*border: 1px solid beige;*/
}

#info-number {
    padding: 0 0 0 5px;
}

#info-class {
    top: 0;
    right: 0;
    padding: 5px 5px 0 0;
    /*border: 1px solid blue;*/
}

#info-experience {
    right: 0;
    top: 20px;
    padding: 5px 5px 0 0;
}

#info-name {
    margin: 50px 0 0 5px;
}
#info-name .value {
    text-transform: uppercase;
}

#properties {
    height: 115px;
}

#attributes {
    display: block;
    margin: 0px 5px 0 5px;
}

.attributes-block {
    width: 100%;
    /*border: 1px solid beige;*/
    margin: 0;
    padding: 0;
    height: 60px;
}

#info-level {
    margin: 0 5px;
}

#info-hp {
    margin: 25px 5px;
}

#info-subordinated {
	margin: 50px 5px;	
	text-transform: uppercase;
}
#info-drop-items {
    top: 0px;
    left: 140px;
    z-index: 20;
    /*border: 1px solid green;*/
}
.item-list {
    margin: 10px 0 0 0;
}
.item-list li {
    list-style-type: none;
    margin: 0 0 0 15px;
    padding: 0;
}

.item-list .item-icon {
    margin: 0;
}
.item-list .item-icon figure {
    margin: 0;
}

#drop-item-list .item {
    height: 40px;
    /*border: 1px solid yellow;*/
    margin: 0;
    display: inline-flex;
    vertical-align: top;
}
#drop-item-list .item .item-icon {
    /*border: 1px solid saddlebrown;*/
}

#drop-item-list .item .item-name {
    /*border: 1px solid pink;*/
    margin: 0;
    padding: 0 5px 0 5px;
    line-height: 30px;
    vertical-align: baseline;
    font-size: 12pt;

}

#info-attack {
    /*top:0;*/
    /*left:0;*/
}

.item-block {
    display: block;
    width: 100%;
    /*border: 1px solid #000;*/
}

.element-item-list {
    /*border: 1px salmon solid;*/
    padding: 0;
    margin: 0;
}

.element-item-list li {
    display: inline-grid;
    /*border: 1px solid crimson;*/
    padding: 0;
    margin: 0;
}
.element-item-list .item {
    /*border: 1px solid #000;*/
    width: 32px;
    margin: 5px 0 0 0 ;
    padding: 0;
    /*display: inline-grid;*/
}
.element-item-list .item figure {
    margin: 0;
    padding: 0;
}
.element-item-list .item figure  img {
    margin: 0;
    padding: 0;
}

#sprite {
    right: -60px;
    bottom: 60px;
    /*border: 1px solid aqua;*/
    position: absolute;
    /*text-align: right;*/
    z-index: 100;
}

#sprite figure {
    z-index: 100;
}

/**
 * Artwork section
 */
#artwork-box {
    right: 0;
    top: 0;
    margin:0;
    width: 49%;
    height: 80%;
    text-align: left;
    /*border: 1px solid cadetblue;*/
}

#artwork-box figure {
    border: 0 solid crimson;
    text-align: left;
    width: auto;
    margin: 5px;
}
#artwork-box figure img {
    width: 100%;
}

/**
 * Infos
 */
#info-box {
    /*width: 80%;*/
    /*border: 1px solid red;*/
    /*float: right;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*position: absolute;*/
    /*display: none;*/
    margin-top: -2%;
    margin-left: 25%;
    margin-bottom: 5%;
}

.info-note {
    padding: 5px;
    margin: 5px;
}

/**
 *
 */
.info-class-image {
    /*border: 1px solid green;*/
    width: 15px;
    height: 20px;
    /*top: 0;*/
    /*right: 0;*/
    display: inline-block;
}
.enemy-class-s {
    background: url("../../data/misc/misc.png") -55px -1px;
}
.enemy-class-a {
    background: url("../../data/misc/misc.png") -71px -1px;
}
.enemy-class-b {
    background: url("../../data/misc/misc.png") -93px -1px;
}
.enemy-class-c {
    background: url("../../data/misc/misc.png") -114px -1px;
}

.enemy-class-d {
    background: url("../../data/misc/misc.png") -131px -1px;
}

.enemy-class-e {
    background: url("../../data/misc/misc.png") -152px -1px;
}

.enemy-class-f {
    background: url("../../data/misc/misc.png") -174px -1px;
}
